.shop_home_main_container {
  display: flex;
  flex-direction: column;
  width: 70%;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.322);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  margin-top: 3%;

  overflow: hidden;
}
.shop_home_title {
  background-color: white;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.322);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
}
.shop_home_title h2 {
  text-align: center;
  font-size: 28px;
  margin-left: auto;
}
.shop_home_title i {
  transition: 0.3s;
  margin-top: 5px;
  font-size: 22px;
  margin-left: auto;
  color: #ffcc00;
  margin-right: 30px;
  transform: rotate(0deg);
}
.arrow_rotate {
  transform: rotate(-180deg) !important;
}

@media only screen and (max-width: 960px) {
  .shop_home_main_container {
    width: 80%;
  }
}
