.shop_home_main_container {
  display: flex;
  flex-direction: column;
  width: 70%;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.322);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  margin-top: 3%;
  overflow: hidden;
  position: relative;
}
.shop_home_title {
  background-color: white;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.322);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
}
.shop_home_title h2 {
  text-align: center;
  font-size: 28px;
  margin-left: auto;
}
.shop_home_title i {
  transition: 0.3s;
  margin-top: 5px;
  font-size: 22px;
  margin-left: auto;
  color: #ffcc00;
  margin-right: 30px;
  transform: rotate(0deg);
}
.arrow_rotate {
  transform: rotate(-180deg) !important;
}
.items_container {
  transition: 0.3s;
  height: 0;
  display: flex;
}
.arrow-shop-active{
  display: flex;
}

.shop_item {
  width: 100%;
  margin: 20px 5px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ffcc0059;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.322);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
}
.shop_item img {
  width: 250px;
  height: 250px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.shop_item p,
.shop_item span {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-weight: bold;
}
.shop_item p {
  height: 50px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.item_info {
  padding: 10px;
}
.item_cost {
  width: 100%;
  height: 35px;
  display: flex;
  background: #ffcc00;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.322);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  justify-content: center;
  align-items: center;
}
.arrow-shop {
  position: absolute;
  display: none;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  font-size: 20px;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.322);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  height: 50px;
  cursor: pointer;
}

.arrow-left {
  left: 0;
  top: 50%;
}
.arrow-right {
  right: 0;
  top: 50%;
}
@media only screen and (max-width: 960px) {
  .shop_home_main_container {
    width: 100%;
  }
  .shop_item img {
    width: 150px;
    height: 150px;
  }
  .arrow-shop {
    display: none!important;
  }
  .items_container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .shop_item {
    width: 45%;
  }
  .item_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}
