.slider-img {
  width: 100%;
}
.slider {
  z-index: 1;
  width: 80%;
  margin: auto;
  background-color: white;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f1c40f !important;
  user-select: none;
  outline: none;
}
.swiper-button-next {
  margin-right: 2%;
}
.swiper-button-prev {
  margin-left: 2%;
}
.swiper-pagination-bullet-active {
  background-color: #f1c40f !important;
}
.swiper-slide{
  background-color: black;
  height:auto;
  display: flex;
}
@media only screen and (max-width: 960px) {
    .slider {
      width: 100%;
    }
}