.home {
  margin-top: 1%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.slider-img {
  width: 100%;
}
.slider {
  width: 80%;
  margin: auto;
  background-color: white;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f1c40f !important;
  user-select: none;
  outline: none;
}
.swiper-button-next {
  margin-right: 2%;
}
.swiper-button-prev {
  margin-left: 2%;
}
.swiper-pagination-bullet-active {
  background-color: #f1c40f !important;
}

.section {
  display: flex;
  padding: 10px 10px;
  width: 100%;
  justify-content: center;
  margin-top: 1.5%;
  align-items: center;
  background-color: white;
  -webkit-box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.14);
}
.section-btn {
  width: 100%;
  transition: .3s ;
  padding: 10px 10px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.2);
}
.section-btn:hover{
    transform: scale(1.05);
    -webkit-box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.3);
}

.apps img {
  margin-bottom: 20px;
  width: 34%;
}
.internet img {
  margin-bottom: 20px;
  width: 35%;
}
.pick img {
  margin-bottom: 20px;
  width: 26%;
}
.tariff img {
  margin-bottom: 20px;
  width: 30%;
}
.pay img {
  margin-bottom: 20px;
  width: 35.5%;
}
@media only screen and (max-width: 960px) {
  .slider {
    width: 100%;
  }
  .home {
    margin-top: 0;
    margin-bottom: 20%;
  }
  .section {
    text-align: center;
    justify-items: center;
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .internet {
    grid-area: 1 / 1 / 2 / 2;
  }
  .pick {
    grid-area: 1 / 2 / 2 / 3;
  }
  .tariff {
    grid-area: 2 / 1 / 3 / 2;
  }
  .pay {
    grid-area: 2 / 2 / 3 / 3;
  }
  .apps {
    grid-area: 3 / 1 / 4 / 3;
    width: 95% !important;
  }
  .section-btn {
    width: 92%;
    height: 15vh;
    padding: 25px 0;
    border-radius: 15px;
    margin: 5px 0;
    -webkit-box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.2);
  }
  .apps img {
    margin-bottom: 20px;
    width: 20%;
  }
}
