.home {
  margin-top: 1%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-bottom: 3%;
}

@media only screen and (max-width: 960px) {
  .home {
    margin-top: 0;
    margin-bottom: 15%;
  }
}
