.loading {
   display: flex;
   justify-content: center;
    width: 100%;
    align-items: center;
    height: 100vh
}
.loading img{
    width: 5%;
}
@media only screen and (max-width: 960px) {
    .loading img{
        width: 9%;
    }
}
