.promotions_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.322);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  margin-top: 2%;
  background: white;
  padding-bottom: 10px;
}
.promotions_main_container h2 {
  font-size: 30px;
  margin: 15px;
}
.promotions_container {
  display: flex;
}
.promotion {
  margin: 10px;
  transition:.4s;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.322);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
}
.promotion:hover{
    transform:scale(1.05)
}
.promotion img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 10px;
}
.promotion_description {
  padding: 0 10px;
  height: 120px;
}
.promotion_description_date {
  color: #2c3e50;
  font-weight: bold;
}
.promotion_description h2 {
  font-size: 20px;
  margin: 10px 0 0 2px;
}
.promotion_special_symbol {
  font-size: 10px;
}
.promotion_description p {
  margin: 5px 0 20px 2px;
  font-size: 18px;
}
.promotion_more {
  display: flex;
  transition: 0.3s;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.promotion_more button {
  background: #ffcc00;
  border: 0;
  transition: 0.3s;

  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.322);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  padding: 10px 50px;
}
.promotion_more button:hover {
  transform: scale(1.05) translateY(-5px);
}
@media only screen and (max-width: 960px) {
  .promotions_container {
    flex-wrap: wrap;
    flex: 100%;
    width: 99%;
  }
}
