.promotions_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.322);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  margin-top: 2%;
  padding-bottom: 10px;
}
.promotions_container {
  display: flex;
}
.promotion {
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.322);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.329);
}
.promotion img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 10px;
}
