
.App {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.container{
    display: flex;
    max-width: 935px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 960px){
    .container{
        max-width: 600px;
    }
}