.nav {
  padding: 10px 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 23px -2px rgba(0, 0, 0, 0.14);
}
.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 935px;
  position: relative;
}
.nav_menu {
  display: flex;
  list-style: none;
}
.nav_logo {
  cursor: pointer;
  user-select: none;
  transition: 0.5s;
}
.fa-home {
  display: none;
}
.nav_menu li {
  border-radius: 10px;
  transition: 0.3s;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
}
.nav_menu li:hover {
  /* background-color: rgba(0, 0, 0, 0.1); */
  color: #f3e30a;
}
.home-link {
  display: none;
}
.nav_menu li:active i {
  color: #f1c40f;
}
.link {
  color: #2d3436;
}
.active {
  color: #f1c40f;
}

.nav_logo:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 960px) {
  .nav {
    position: fixed;
    bottom: 0;
    max-width: 100%;
    justify-content: flex-start;
    padding: 0;
    align-items: center;
    z-index: 99;
  }
  .nav_menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .nav_logo {
    display: none;
  }
  .nav_menu li {
    margin: 0;
  }
  .nav_menu li:hover {
    background-color: transparent;
  }
  .nav_menu li:active i {
    color: #f1c40f;
  }
  .fa-home {
    display: block;
  }
  .home-link {
    display: block;
  }
  .wrapper {
    justify-content: flex-start;
  }
  .menu-pc {
    display: none;
  }
/*   .nav_menu li:active i {
    color: #f1c40f;
  } */
  .nav_menu li:hover {
    /* background-color: rgba(0, 0, 0, 0.1); */
    color: #f1c40f;
  }
}
